
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

//Layouts
$mobile: 375px;
$desktop: 1440px;

//Primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

//Neutral
$darkGrayishRed: hsl(0, 6%, 24%);

//Gradients

//Body
$fontSize: 16px;

//Font

//padding
$padding-small: 20px;
/*
    Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
    Weights: 300, 400, 600
*/